name: ci

on:
  pull_request:
    paths:
      - 'updatecli/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: updatecli/updatecli-action@v2
    - run: updatecli diff --config ./updatecli/updatecli.d
      env:
        UPDATECLI_GITHUB_ACTOR: ${{ github.actor }}
        UPDATECLI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}