name: auto-tag

on:
  push:
    branches: [main]

jobs:
  merge_job:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - id: create_token
      uses: tibdex/github-app-token@v2
      with:
        app_id: ${{ secrets.RUNWAY_CI_BOT_APP_ID }}
        private_key: ${{ secrets.RUNWAY_CI_BOT_PRIVATE_KEY }}
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        token: ${{ steps.create_token.outputs.token }}
    - id: version
      run: |
        hugo_version=$(cat Dockerfile|grep 'ARG HUGO_VERSION='|awk '{split($2,v,"=");print v[2]}')
        echo "hugo_version=v${hugo_version}" >> $GITHUB_OUTPUT
    - run: echo "${{ steps.version.outputs.hugo_version }}"
    - uses: ./.github/actions/auto-tag
      with:
        tag: ${{ steps.version.outputs.hugo_version }}
        gh_token: ${{ steps.create_token.outputs.token }}

